openapi: 3.1.0

info:
  title: MOTOBOY API
  version: 1.0.0-draft
  description: |
    Contrat de l'API MOTOBOY.

    Parcours passager, embarquement, et back-office agence. L'administration et
    l'espace propriétaire restent à spécifier.

    ## Statut du document

    Cette spécification est **normative** : elle est la source de vérité du
    contrat, et l'implémentation Laravel est vérifiée contre elle. Elle n'est
    pas générée depuis le code.

    Un test de couverture compare les routes enregistrées aux chemins déclarés
    ici, dans les deux sens. **Aucun endpoint ne peut être servi sans être
    spécifié** — c'est ce qui rend le mot « normative » vrai plutôt
    qu'aspirationnel. Les chemins spécifiés mais pas encore implémentés sont
    déclarés explicitement dans ce test, jamais tolérés en silence.

    Les types TypeScript du package `api-client` en sont générés et ne sont
    jamais édités à la main.

    ## Conventions

    ### Erreurs

    Toute erreur porte un **code typé**. Les clients branchent sur `code` et
    composent le texte affiché eux-mêmes, dans la langue de l'utilisateur.

    `message` est un **diagnostic** : journaux, exploitation, débogage. Il
    n'est jamais affiché, sa langue n'est pas garantie, et son libellé peut
    changer sans préavis. C'est ce qui permet de localiser les erreurs
    entièrement côté client, sans négociation `Accept-Language`.

    ### Langues

    Français et anglais dès le lancement. Le contenu généré par le serveur —
    SMS, notifications, billet guichet — est localisé côté serveur à partir de
    `users.locale`, ou de la langue par défaut de l'agence pour un passager
    sans compte.

    ### Idempotence

    L'en-tête `Idempotency-Key` est **obligatoire** sur la création de
    réservation, l'initiation de paiement, le remboursement et la
    synchronisation des validations. Rejouer une requête avec la même clé
    renvoie le résultat initial sans créer de doublon.

    ### Namespaces

    | Préfixe | Rôle requis |
    |---|---|
    | `/v1/…` | `PASSENGER` ou public |
    | `/v1/agency/…` | `AGENCY` ou `AGENT` |
    | `/v1/owner/…` | `OWNER` |
    | `/v1/admin/…` | `ADMIN` ou `SUPER_ADMIN` |

    ### Pagination

    Par offset, avec une enveloppe `meta` constante.

    ### Montants

    Entiers, en unités entières de devise. Le XAF n'a pas de subdivision en
    circulation.

servers:
  - url: https://api.motoboy.cm/api
    description: Production
  - url: http://localhost:8000/api
    description: Développement local

tags:
  - name: Auth
    description: Inscription, OTP, session
  - name: Places
    description: Référentiel géographique et autocomplétion
  - name: Search
    description: Recherche de trajets
  - name: Trips
    description: Départs et disponibilité des places
  - name: Bookings
    description: Réservation, tenue des places, annulation
  - name: Payments
    description: Paiement et suivi de transaction
  - name: Tickets
    description: Billets électroniques
  - name: Boarding
    description: Embarquement — rôle AGENT, fonctionne hors ligne
  - name: Agency
    description: |
      Back-office agence. Sans ces endpoints, la recherche ne renvoie rien et le
      produit n'existe pas.
  - name: Webhooks
    description: Entrées appelées par les prestataires. Exclues de la génération du client.

security:
  - bearerAuth: []

paths:
  # ────────────────────────────── Auth ──────────────────────────────

  /v1/auth/register:
    post:
      tags: [Auth]
      summary: Inscrire un passager
      description: |
        Crée le compte puis envoie un OTP au numéro fourni. Le compte reste
        inutilisable tant que le téléphone n'est pas vérifié.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [phone, first_name, last_name]
              properties:
                phone:
                  type: string
                  description: Format E.164
                  examples: ['+237690000000']
                email:
                  type: string
                  format: email
                first_name: { type: string, maxLength: 100 }
                last_name: { type: string, maxLength: 100 }
                locale:
                  $ref: '#/components/schemas/Locale'
                  description: |
                    Défaut `fr`. Détermine la langue de l'OTP, donc du tout
                    premier message reçu — avant même que le compte existe.
      responses:
        default: { $ref: '#/components/responses/DefaultError' }
        '202':
          description: OTP envoyé
          content:
            application/json:
              schema: { $ref: '#/components/schemas/OtpChallenge' }
        '409':
          description: Numéro déjà inscrit
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '422': { $ref: '#/components/responses/ValidationError' }

  /v1/auth/login:
    post:
      tags: [Auth]
      summary: Demander un OTP de connexion
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [phone]
              properties:
                phone: { type: string }
      responses:
        default: { $ref: '#/components/responses/DefaultError' }
        '202':
          description: OTP envoyé
          content:
            application/json:
              schema: { $ref: '#/components/schemas/OtpChallenge' }
        '404':
          description: Aucun compte pour ce numéro
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /v1/auth/otp/verify:
    post:
      tags: [Auth]
      summary: Vérifier un OTP et ouvrir une session
      description: |
        L'OTP est valide 10 minutes et accepte 4 tentatives au maximum.
        Au-delà, il est invalidé et un nouvel envoi est nécessaire.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [phone, code, purpose]
              properties:
                phone: { type: string }
                code: { type: string, minLength: 4, maxLength: 8 }
                purpose: { $ref: '#/components/schemas/OtpPurpose' }
      responses:
        default: { $ref: '#/components/responses/DefaultError' }
        '200':
          description: Session ouverte
          content:
            application/json:
              schema:
                type: object
                required: [token, user]
                properties:
                  token: { type: string }
                  user: { $ref: '#/components/schemas/User' }
        '422':
          description: |
            Code invalide, expiré, ou nombre de tentatives dépassé.
            Codes possibles — `OTP_INVALID`, `OTP_EXPIRED`, `OTP_TOO_MANY_ATTEMPTS`.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /v1/auth/otp/resend:
    post:
      tags: [Auth]
      summary: Renvoyer un OTP
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [phone, purpose]
              properties:
                phone: { type: string }
                purpose: { $ref: '#/components/schemas/OtpPurpose' }
      responses:
        default: { $ref: '#/components/responses/DefaultError' }
        '202':
          description: OTP renvoyé
          content:
            application/json:
              schema: { $ref: '#/components/schemas/OtpChallenge' }
        '429':
          description: Trop de demandes
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /v1/me:
    get:
      tags: [Auth]
      summary: Profil de l'utilisateur courant
      responses:
        default: { $ref: '#/components/responses/DefaultError' }
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/User' }
        '401': { $ref: '#/components/responses/Unauthorized' }
    patch:
      tags: [Auth]
      summary: Modifie son propre profil
      description: |
        Mise a jour partielle : seuls les champs transmis sont modifies.

        Le telephone n'y figure pas. Il porte l'identite du compte et la
        destination des SMS ; le changer demande de prouver la possession du
        nouveau numero, donc un parcours OTP a part.

        `locale` decide de la langue des SMS.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                first_name: { type: string, maxLength: 100 }
                last_name: { type: string, maxLength: 100 }
                email: { type: [string, 'null'], format: email, maxLength: 255 }
                locale: { $ref: '#/components/schemas/Locale' }
      responses:
        default: { $ref: '#/components/responses/DefaultError' }
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/User' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /v1/driver:
    get:
      tags: [Rides]
      summary: Son dossier de chauffeur
      responses:
        default: { $ref: '#/components/responses/DefaultError' }
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DriverProfile' }
        '401': { $ref: '#/components/responses/Unauthorized' }
    post:
      tags: [Rides]
      summary: Depose ou represente son dossier de chauffeur
      description: |
        Rejouable : un dossier refuse doit pouvoir etre corrige et represente.
        Un nouveau depot repart en `PENDING` et efface la trace de
        l'instruction precedente.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [license_number, license_expires_at, vehicle_plate, vehicle_type, vehicle_seats, city_id]
              properties:
                license_number: { type: string, maxLength: 64 }
                license_expires_at: { type: string, format: date }
                vehicle_plate: { type: string, maxLength: 32 }
                vehicle_type: { $ref: '#/components/schemas/VehicleType' }
                vehicle_model: { type: [string, 'null'], maxLength: 120 }
                vehicle_seats: { type: integer, minimum: 1, maximum: 20 }
                city_id: { type: integer, format: int64 }
      responses:
        default: { $ref: '#/components/responses/DefaultError' }
        '201':
          description: Depose
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DriverProfile' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /v1/driver/documents:
    post:
      tags: [Rides]
      summary: Depose une piece du dossier
      description: |
        Une piece par type : redeposer remplace la precedente. Le nom d'origine
        du fichier n'est jamais repris.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [type, file]
              properties:
                type: { $ref: '#/components/schemas/DriverDocumentType' }
                file: { type: string, format: binary }
                expires_at: { type: [string, 'null'], format: date }
      responses:
        default: { $ref: '#/components/responses/DefaultError' }
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DriverProfile' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /v1/rides/{reference}/payments:
    post:
      tags: [Rides]
      summary: Paie la course retenue
      description: |
        Le prix se regle a l'acceptation de l'offre. Comme pour une reservation,
        le paiement Mobile Money est **asynchrone** : la reponse est `PENDING` ou
        `PROCESSING`, jamais `SUCCEEDED` immediatement, et c'est le webhook qui
        tranche.

        Une course porte **plusieurs tentatives**, dont une seule aboutie.
        `Idempotency-Key` protege une requete rejouee, pas une nouvelle
        tentative : reutiliser la cle apres un code errone renverrait le refus
        precedent au lieu de reessayer.
      parameters:
        - name: reference
          in: path
          required: true
          schema: { type: string }
        - name: Idempotency-Key
          in: header
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [method]
              properties:
                method: { $ref: '#/components/schemas/PaymentMethod' }
                operator: { type: [string, 'null'] }
                payer_phone: { type: [string, 'null'] }
      responses:
        default: { $ref: '#/components/responses/DefaultError' }
        '202':
          description: Encaissement engage
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Payment' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /v1/rides/{reference}/no-show:
    post:
      tags: [Rides]
      summary: Signale que le chauffeur ne s'est pas presente
      description: |
        Signale par le passager, seul temoin possible faute de suivi de position.
        Rembourse integralement et marque le dossier du chauffeur.
      parameters:
        - name: reference
          in: path
          required: true
          schema: { type: string }
      responses:
        default: { $ref: '#/components/responses/DefaultError' }
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Ride' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /v1/admin/settings:
    get:
      tags: [Administration]
      summary: Parametres commerciaux de la plateforme
      description: Reserve au super-administrateur.
      responses:
        default: { $ref: '#/components/responses/DefaultError' }
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PlatformSettings' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /v1/owner/vehicles:
    get:
      tags: [Fleet]
      summary: Les vehicules du proprietaire
      description: |
        **Consultation seule, aucun circuit financier** (I3). Le proprietaire loue
        son vehicule a une agence et sa remuneration se regle directement avec
        elle ; la plateforme ne porte aucun flux vers lui.
      responses:
        default: { $ref: '#/components/responses/DefaultError' }
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/OwnerVehicle' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /v1/owner/vehicles/{vehicle}/trips:
    get:
      tags: [Fleet]
      summary: Les departs assures par un vehicule
      description: |
        Ce que le proprietaire vient verifier : **son vehicule roule-t-il ?** Le
        taux de remplissage est calcule par le serveur — le laisser au client
        ferait diverger deux arrondis, et c'est le chiffre dont on discute avec
        l'agence.

        Un vehicule qui ne lui appartient pas repond `404` et non `403` :
        « interdit » revelerait qu'il existe et appartient a quelqu'un d'autre.
      parameters:
        - name: vehicle
          in: path
          required: true
          schema: { type: integer, format: int64 }
      responses:
        default: { $ref: '#/components/responses/DefaultError' }
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/OwnerTrip' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }

  /v1/admin/settings/ride-commission:
    patch:
      tags: [Administration]
      summary: Regle le taux de commission d'une course
      description: |
        En points de base : 1000 vaut 10 %. Un taux unique s'applique a tous les
        chauffeurs independants, contrairement aux conditions negociees d'une
        agence. Plafonne, pour qu'un zero de trop ne prenne pas la course entiere.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [commission_bps]
              properties:
                commission_bps: { type: integer, minimum: 0, maximum: 3000 }
      responses:
        default: { $ref: '#/components/responses/DefaultError' }
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PlatformSettings' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }


  /v1/admin/settings/id-documents:
    patch:
      tags: [Administration]
      summary: Piece d'identite demandee au voyageur principal
      description: |
        **Deux reglages, changes ensemble.** Quelle forme — un numero saisi, ou
        une photo de la piece ? Et faut-il bloquer la reservation quand elle
        manque ? Les separer ferait passer par un etat que personne n'a voulu :
        photo exigee avant que l'ecran de depot existe, par exemple.

        La piece n'est demandee qu'au **voyageur principal** : la reclamer aux
        quatre membres d'une famille transformerait une reservation en formalite,
        pour une liste d'embarquement qui identifie deja le groupe par son
        acheteur.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [id_document_mode, id_document_required]
              properties:
                id_document_mode: { $ref: '#/components/schemas/IdDocumentMode' }
                id_document_required: { type: boolean }
      responses:
        default: { $ref: '#/components/responses/DefaultError' }
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PlatformSettings' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /v1/admin/drivers:
    get:
      tags: [Administration]
      summary: File des dossiers de chauffeur
      description: Du plus ancien au plus recent. Par defaut, ce qui attend une decision.
      parameters:
        - name: status
          in: query
          schema: { $ref: '#/components/schemas/DriverStatus' }
      responses:
        default: { $ref: '#/components/responses/DefaultError' }
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/AdminDriverRow' }
                  meta: { $ref: '#/components/schemas/PaginationMeta' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /v1/admin/payout-accounts:
    get:
      tags: [Administration]
      summary: Destinations de virement a verifier
      description: |
        Non verifiees d'abord, puis de la plus ancienne a la plus recente.

        Sans ce geste, un compte declare reste inactif et la passe de reversement
        s'arrete sur `NO_VERIFIED_ACCOUNT` : personne n'est paye, et rien ne le
        signale.
      parameters:
        - name: kind
          in: query
          schema: { type: string, enum: [AGENCY, DRIVER] }
      responses:
        default: { $ref: '#/components/responses/DefaultError' }
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/AdminPayoutAccountRow' }
                  meta: { $ref: '#/components/schemas/PaginationMeta' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /v1/admin/service-requests/{reference}:
    get:
      tags: [Administration]
      summary: Consulter une demande ou une course
      description: |
        Pour le support : « ou en est ma course ? ». La reference d'une **demande**
        comme celle d'une **course** sont acceptees — l'appelant ne fait pas la
        difference, et la lui imposer reviendrait a lui demander de comprendre un
        decoupage interne avant d'etre aide.

        Lecture seule : le support constate, il ne decide pas.
      parameters:
        - name: reference
          in: path
          required: true
          schema: { type: string }
      responses:
        default: { $ref: '#/components/responses/DefaultError' }
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ServiceRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/DefaultError' }

  /v1/admin/drivers/{driver}/approve:
    post:
      tags: [Administration]
      summary: Valide un dossier de chauffeur
      description: Refuse un dossier incomplet, les quatre pieces etant exigees.
      parameters:
        - name: driver
          in: path
          required: true
          schema: { type: integer, format: int64 }
      responses:
        default: { $ref: '#/components/responses/DefaultError' }
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DriverProfile' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /v1/admin/drivers/{driver}/reject:
    post:
      tags: [Administration]
      summary: Refuse un dossier de chauffeur
      parameters:
        - name: driver
          in: path
          required: true
          schema: { type: integer, format: int64 }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [note]
              properties:
                note: { type: string, minLength: 3, maxLength: 1000 }
      responses:
        default: { $ref: '#/components/responses/DefaultError' }
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DriverProfile' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /v1/admin/drivers/{driver}/suspend:
    post:
      tags: [Administration]
      summary: Suspend un chauffeur valide
      description: |
        Distinct du refus, qui porte sur un dossier jamais accepte. Ne touche ni
        a l'historique des courses ni aux reversements dus.
      parameters:
        - name: driver
          in: path
          required: true
          schema: { type: integer, format: int64 }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [note]
              properties:
                note: { type: string, minLength: 3, maxLength: 1000 }
      responses:
        default: { $ref: '#/components/responses/DefaultError' }
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DriverProfile' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /v1/service-requests:
    post:
      tags: [Rides]
      summary: Ouvre un appel de service
      description: |
        Une seule demande ouverte par passager a la fois. La position est
        declaree : ville du referentiel et point de repere en texte libre.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [origin_city_id, origin_landmark, destination_city_id, passengers]
              properties:
                origin_city_id: { type: integer, format: int64 }
                origin_landmark: { type: string, minLength: 3, maxLength: 160 }
                destination_city_id: { type: integer, format: int64 }
                destination_landmark: { type: [string, 'null'], maxLength: 160 }
                passengers: { type: integer, minimum: 1, maximum: 20 }
                note: { type: [string, 'null'], maxLength: 500 }
      responses:
        default: { $ref: '#/components/responses/DefaultError' }
        '201':
          description: Ouverte
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ServiceRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
    get:
      tags: [Rides]
      summary: Ses appels de service
      responses:
        default: { $ref: '#/components/responses/DefaultError' }
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/ServiceRequest' }
                  meta: { $ref: '#/components/schemas/PaginationMeta' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /v1/service-requests/{reference}:
    get:
      tags: [Rides]
      summary: Un appel de service et ses offres
      parameters:
        - name: reference
          in: path
          required: true
          schema: { type: string }
      responses:
        default: { $ref: '#/components/responses/DefaultError' }
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ServiceRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/DefaultError' }

  /v1/service-requests/{reference}/cancel:
    post:
      tags: [Rides]
      summary: Annule son appel de service
      description: |
        Les offres en attente tombent, et une course deja conclue est annulee avec
        la demande. Sans penalite a ce stade.
      parameters:
        - name: reference
          in: path
          required: true
          schema: { type: string }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                reason: { type: [string, 'null'], maxLength: 500 }
      responses:
        default: { $ref: '#/components/responses/DefaultError' }
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ServiceRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /v1/service-requests/{reference}/offers:
    post:
      tags: [Rides]
      summary: Un chauffeur propose un prix
      description: |
        Reserve a un dossier valide, dans la ville de depart de la demande, et a
        un chauffeur qui n'a pas de course en cours.
      parameters:
        - name: reference
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [price_amount, eta_minutes]
              properties:
                price_amount: { type: integer, minimum: 100 }
                eta_minutes: { type: integer, minimum: 1, maximum: 240 }
      responses:
        default: { $ref: '#/components/responses/DefaultError' }
        '201':
          description: Deposee
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RideOffer' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /v1/offers/{offer}/accept:
    post:
      tags: [Rides]
      summary: Retient une offre
      description: |
        Operation concurrente : une seule offre acceptee par demande, une seule
        course active par chauffeur. Les deux sont garanties par la base.
      parameters:
        - name: offer
          in: path
          required: true
          schema: { type: integer, format: int64 }
      responses:
        default: { $ref: '#/components/responses/DefaultError' }
        '201':
          description: Course creee
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Ride' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /v1/driver/requests:
    get:
      tags: [Rides]
      summary: Les demandes ouvertes de sa ville
      description: Les plus anciennes d'abord.
      responses:
        default: { $ref: '#/components/responses/DefaultError' }
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/ServiceRequest' }
                  meta: { $ref: '#/components/schemas/PaginationMeta' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /v1/driver/offers:
    get:
      tags: [Rides]
      summary: Ses offres
      responses:
        default: { $ref: '#/components/responses/DefaultError' }
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/RideOffer' }
                  meta: { $ref: '#/components/schemas/PaginationMeta' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /v1/driver/rides:
    get:
      tags: [Rides]
      summary: Ses courses
      responses:
        default: { $ref: '#/components/responses/DefaultError' }
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/Ride' }
                  meta: { $ref: '#/components/schemas/PaginationMeta' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /v1/driver/rides/{reference}/start:
    post:
      tags: [Rides]
      summary: Demarre la course
      description: |
        Refuse en `RIDE_NOT_PAID` tant que le passager n'a pas paye : tout se
        regle a l'acceptation (E4 bis). Sans ce controle une course entiere
        pourrait se derouler sans qu'un franc ait bouge, et le reglement de fin
        crediterait le chauffeur d'un argent jamais encaisse.
      parameters:
        - name: reference
          in: path
          required: true
          schema: { type: string }
      responses:
        default: { $ref: '#/components/responses/DefaultError' }
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Ride' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /v1/driver/earnings:
    get:
      tags: [Rides]
      summary: Son solde, son historique, ses reversements
      description: |
        Trois nombres et non un : le solde du compte courant, ce qui est
        **reversable aujourd'hui**, et le minimum qui declenche un virement. Une
        course terminee il y a une heure compte au solde sans etre encore
        versable, et confondre les deux ferait attendre un virement qui ne peut
        pas partir.
      responses:
        default: { $ref: '#/components/responses/DefaultError' }
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DriverEarnings' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/DefaultError' }

  /v1/driver/payout-accounts:
    get:
      tags: [Rides]
      summary: Ses comptes de versement
      responses:
        default: { $ref: '#/components/responses/DefaultError' }
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/PayoutAccountSummary' }
        '401': { $ref: '#/components/responses/Unauthorized' }
    post:
      tags: [Rides]
      summary: Declare ou remplace son compte de versement
      description: |
        Mobile Money seulement : un chauffeur independant n'a pas de compte
        d'entreprise, et proposer un virement bancaire ferait saisir des
        coordonnees qu'on ne saurait pas verifier.

        Le compte reste **inactif jusqu'a verification** par un administrateur.
        Une erreur de saisie envoie l'argent a un inconnu, sans recours.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [type, operator, account_number, account_name]
              properties:
                type: { type: string, enum: [MOBILE_MONEY] }
                operator: { type: string, enum: [MTN, ORANGE] }
                account_number: { type: string, maxLength: 50 }
                account_name: { type: string, maxLength: 150 }
      responses:
        default: { $ref: '#/components/responses/DefaultError' }
        '201':
          description: Declare, en attente de verification
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PayoutAccountSummary' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /v1/driver/rides/{reference}/complete:
    post:
      tags: [Rides]
      summary: Termine la course
      description: La course quitte l'etat actif, ce qui libere le chauffeur.
      parameters:
        - name: reference
          in: path
          required: true
          schema: { type: string }
      responses:
        default: { $ref: '#/components/responses/DefaultError' }
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Ride' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /v1/auth/logout:
    post:
      tags: [Auth]
      summary: Révoquer le jeton courant
      responses:
        default: { $ref: '#/components/responses/DefaultError' }
        '204': { description: Session close }

  # ────────────────────────────── Places ──────────────────────────────

  /v1/config:
    get:
      tags: [Places]
      summary: Ce que le client doit savoir avant d'afficher un formulaire
      description: |
        **Public, et volontairement pauvre.** Les reglages de plateforme vivent
        derriere `platform.configure` ; un passager ne peut pas les lire. Mais il
        lui faut savoir quelle piece d'identite on va lui demander, faute de quoi
        l'ecran de reservation devine et le serveur refuse une saisie que le
        client n'avait pas su reclamer.

        N'y figure que ce qui **change ce que l'utilisateur voit**.
      security: []
      responses:
        default: { $ref: '#/components/responses/DefaultError' }
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [id_document_mode, id_document_required]
                properties:
                  id_document_mode: { $ref: '#/components/schemas/IdDocumentMode' }
                  id_document_required: { type: boolean }

  /v1/places/autocomplete:
    get:
      tags: [Places]
      summary: Autocomplétion des lieux
      description: |
        Propose **villes et gares**. Une gare sélectionnée résout vers sa
        ville : la recherche s'exécute toujours au niveau ville.

        La comparaison est insensible aux accents et à la casse, et s'appuie
        sur une liste d'alias par ville. Les accents n'étant pratiquement
        jamais saisis sur un clavier de téléphone, une correspondance stricte
        échouerait sur une grande part des saisies réelles.
      security: []
      parameters:
        - name: q
          in: query
          required: false
          description: |
            **Facultative.** Sans elle, l'endpoint rend les villes les plus utiles,
            par ordre alphabetique. Un selecteur qui s'ouvre sur une liste vide est
            exact et inutilisable : le passager qui ne sait pas quoi taper ne
            decouvre jamais ce que la plateforme dessert.
          schema: { type: string, minLength: 2 }
        - name: limit
          in: query
          schema: { type: integer, default: 10, maximum: 25 }
      responses:
        default: { $ref: '#/components/responses/DefaultError' }
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/PlaceSuggestion' }

  # ────────────────────────────── Search ──────────────────────────────

  /v1/search:
    get:
      tags: [Search]
      summary: Rechercher des trajets
      description: |
        Requête centrale du produit. Le filtrage porte sur le couple
        **ville de départ / ville d'arrivée** : la réservation étant
        point-à-point, une ville d'escale ne rend pas un trajet éligible.

        Les départs dont la fenêtre de vente en ligne est fermée
        n'apparaissent pas dans les résultats.

        **Lorsque `data` est vide**, la réponse porte un bloc `suggestions`
        — dates proches disponibles et axes desservis au départ de la même
        ville. Un seul aller-retour, et le client a toujours quelque chose
        à afficher.
      security: []
      parameters:
        - name: origin_city_id
          in: query
          required: true
          schema: { type: integer, format: int64 }
        - name: destination_city_id
          in: query
          required: true
          schema: { type: integer, format: int64 }
        - name: date
          in: query
          required: true
          schema: { type: string, format: date }
        - name: passengers
          in: query
          schema: { type: integer, minimum: 1, default: 1 }
        - name: price_min
          in: query
          schema: { type: integer, format: int64 }
        - name: price_max
          in: query
          schema: { type: integer, format: int64 }
        - name: departure_from
          in: query
          description: Heure locale minimale, format HH:MM
          schema: { type: string }
        - name: departure_to
          in: query
          schema: { type: string }
        - name: agency_ids
          in: query
          schema:
            type: array
            items: { type: integer, format: int64 }
        - name: vehicle_type
          in: query
          schema: { $ref: '#/components/schemas/VehicleType' }
        - name: only_available
          in: query
          schema: { type: boolean, default: false }
        - name: sort
          in: query
          description: |
            Le prix est un critère important du classement pour le MVP.
          schema:
            type: string
            enum: [best, price_asc, departure_asc, duration_asc]
            default: best
      responses:
        default: { $ref: '#/components/responses/DefaultError' }
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [data, suggestions]
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/TripSummary' }
                  suggestions:
                    $ref: '#/components/schemas/SearchSuggestions'

  # ────────────────────────────── Trips ──────────────────────────────

  /v1/trips/{reference}:
    get:
      tags: [Trips]
      summary: Détail d'un départ
      security: []
      parameters:
        - $ref: '#/components/parameters/Reference'
      responses:
        default: { $ref: '#/components/responses/DefaultError' }
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TripDetail' }
        '404': { $ref: '#/components/responses/NotFound' }

  /v1/trips/{reference}/seats:
    get:
      tags: [Trips]
      summary: Plan des places et disponibilité
      description: |
        En mode `SEATED`, renvoie le plan complet avec l'état de chaque
        siège. En mode `CAPACITY`, `seats` est vide et seuls les compteurs
        sont renseignés.

        Une place **tenue** par un paiement en cours est indisponible, au
        même titre qu'une place vendue.
      security: []
      parameters:
        - $ref: '#/components/parameters/Reference'
      responses:
        default: { $ref: '#/components/responses/DefaultError' }
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SeatMap' }
        '404': { $ref: '#/components/responses/NotFound' }

  # ────────────────────────────── Bookings ──────────────────────────────

  /v1/id-documents:
    post:
      tags: [Bookings]
      summary: Depose la piece d'identite du voyageur principal
      description: |
        **Avant la reservation, et separement.** Une place se tient quelques
        minutes ; televerser pendant ce delai le ferait courir sur une 3G de gare,
        et un echec de reseau ferait perdre la place.

        Rend un `path` que la reservation reprend dans
        `passengers[0].id_document_path`. Le chemin est tire au hasard par le
        stockage : un client ne peut pas en fabriquer un pour designer le fichier
        de quelqu'un d'autre.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
                  description: Photo de la piece — jpg, jpeg ou png, 8 Mo au plus.
      responses:
        default: { $ref: '#/components/responses/DefaultError' }
        '201':
          description: Depose
          content:
            application/json:
              schema:
                type: object
                required: [path]
                properties:
                  path: { type: string }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /v1/bookings:
    post:
      tags: [Bookings]
      summary: Créer une réservation et tenir les places
      description: |
        Opération atomique de prise de places. Elle crée la réservation en
        `PENDING_PAYMENT` et renvoie `expires_at`.

        Les places sont tenues **dès cet appel**, donc avant la saisie des
        informations passagers côté client : tenir la place seulement au
        paiement laisserait deux passagers saisir en parallèle et l'un des
        deux perdrait sa place au dernier écran.

        La durée du hold est de 10 minutes par défaut, paramétrable par
        agence. Un échec de paiement **ne libère pas** les places : la
        fenêtre court en entier, seule une annulation explicite libère
        avant terme.

        Une réservation de plusieurs places est prise en tout ou rien.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [trip_reference, passengers]
              properties:
                trip_reference: { type: string }
                passengers:
                  type: array
                  minItems: 1
                  items:
                    type: object
                    required: [first_name, last_name]
                    properties:
                      first_name: { type: string, maxLength: 100 }
                      last_name: { type: string, maxLength: 100 }
                      phone: { type: string }
                      seat_id:
                        type: [integer, 'null']
                        format: int64
                        description: Requis en mode SEATED, ignoré en mode CAPACITY
                contact_name:
                  type: string
                  description: Requis si la réservation est faite pour un tiers
                contact_phone: { type: string }
      responses:
        default: { $ref: '#/components/responses/DefaultError' }
        '201':
          description: Réservation créée, places tenues
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Booking' }
        '409':
          description: |
            Conflit sur l'inventaire ou la fenêtre de vente.

            Codes possibles — `SEAT_ALREADY_HELD`, `TRIP_FULL`,
            `ONLINE_SALES_CLOSED`, `TRIP_CANCELLED`.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
              examples:
                seatAlreadyHeld:
                  summary: Siège déjà pris ou tenu
                  value:
                    code: SEAT_ALREADY_HELD
                    message: Ce siège vient d'être réservé.
                    details: { seat_ids: [42] }
                onlineSalesClosed:
                  summary: Vente en ligne fermée
                  value:
                    code: ONLINE_SALES_CLOSED
                    message: Les réservations en ligne sont closes pour ce départ.
                    details: { closed_at: '2026-08-14T07:30:00Z' }
        '422': { $ref: '#/components/responses/ValidationError' }

    get:
      tags: [Bookings]
      summary: Historique des réservations
      parameters:
        - name: status
          in: query
          schema:
            type: array
            items: { $ref: '#/components/schemas/BookingStatus' }
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
      responses:
        default: { $ref: '#/components/responses/DefaultError' }
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/Booking' }
                  meta: { $ref: '#/components/schemas/PaginationMeta' }

  /v1/bookings/{reference}:
    get:
      tags: [Bookings]
      summary: Détail d'une réservation
      parameters:
        - $ref: '#/components/parameters/Reference'
      responses:
        default: { $ref: '#/components/responses/DefaultError' }
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Booking' }
        '404': { $ref: '#/components/responses/NotFound' }

  /v1/bookings/{reference}/cancel:
    post:
      tags: [Bookings]
      summary: Annuler tout ou partie d'une réservation
      description: |
        Sans `passenger_ids`, la réservation entière est annulée. Avec, seuls
        les passagers désignés le sont — l'annulation partielle est
        supportée dès le MVP.

        Les conditions applicables sont celles **figées sur la réservation**
        à sa création : un durcissement ultérieur des conditions de l'agence
        est sans effet.

        Le remboursement part toujours vers le compte source du paiement.
      parameters:
        - $ref: '#/components/parameters/Reference'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                passenger_ids:
                  type: array
                  items: { type: integer, format: int64 }
      responses:
        default: { $ref: '#/components/responses/DefaultError' }
        '200':
          description: Annulation enregistrée
          content:
            application/json:
              schema: { $ref: '#/components/schemas/BookingCancellation' }
        '409':
          description: |
            Codes possibles — `CANCELLATION_DEADLINE_PASSED`,
            `BOOKING_NOT_CANCELLABLE`.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /v1/bookings/{reference}/cancellation-quote:
    get:
      tags: [Bookings]
      summary: Simuler une annulation
      description: |
        Renvoie le montant remboursable et les frais retenus, sans rien
        exécuter. Permet d'afficher au passager ce qu'il récupérera avant
        qu'il confirme.
      parameters:
        - $ref: '#/components/parameters/Reference'
        - name: passenger_ids
          in: query
          schema:
            type: array
            items: { type: integer, format: int64 }
      responses:
        default: { $ref: '#/components/responses/DefaultError' }
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CancellationQuote' }

  # ────────────────────────────── Payments ──────────────────────────────

  /v1/bookings/{reference}/payments:
    post:
      tags: [Payments]
      summary: Initier un paiement
      description: |
        Le paiement Mobile Money est **asynchrone** : le passager reçoit une
        sollicitation sur son téléphone et doit saisir son code. La réponse
        est donc `PENDING` ou `PROCESSING`, jamais `SUCCEEDED` immédiatement.

        Le client suit ensuite l'état par `GET /v1/payments/{reference}` ou
        par notification.

        Une réservation porte **plusieurs tentatives**, dont une seule
        aboutie. Réessayer après un échec est le cas nominal.
      parameters:
        - $ref: '#/components/parameters/Reference'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [method]
              properties:
                method: { $ref: '#/components/schemas/PaymentMethod' }
                operator:
                  type: string
                  enum: [MTN, ORANGE]
                  description: Requis si method = MOBILE_MONEY
                payer_phone:
                  type: string
                  description: |
                    Compte débité. Le remboursement éventuel retournera
                    toujours vers ce compte, jamais vers un numéro déclaré
                    après coup.
      responses:
        default: { $ref: '#/components/responses/DefaultError' }
        '202':
          description: Paiement initié
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Payment' }
        '409':
          description: |
            Codes possibles — `PAYMENT_ALREADY_SUCCEEDED`, `BOOKING_EXPIRED`.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
              examples:
                bookingExpired:
                  summary: Le hold a expiré
                  value:
                    code: BOOKING_EXPIRED
                    message: Le délai de paiement est dépassé, les places ont été libérées.
                    details: { expired_at: '2026-08-13T09:41:00Z' }

  /v1/payments/{reference}:
    get:
      tags: [Payments]
      summary: État d'un paiement
      parameters:
        - $ref: '#/components/parameters/Reference'
      responses:
        default: { $ref: '#/components/responses/DefaultError' }
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Payment' }
        '404': { $ref: '#/components/responses/NotFound' }

  # ─────────────────────────── Administration ───────────────────────────

  /v1/admin/dashboard:
    get:
      tags: [Admin]
      summary: Chiffres de la plateforme
      description: |
        Les compteurs de supervision. Calculés à la demande : pré-agréger avant
        d'avoir du volume produirait un cache à invalider pour rien, et une
        divergence de plus à déboguer.
      responses:
        default: { $ref: '#/components/responses/DefaultError' }
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AdminDashboard' }

  /v1/admin/agencies:
    get:
      tags: [Admin]
      summary: Agences
      parameters:
        - name: status
          in: query
          schema: { type: string, enum: [PENDING, APPROVED, REJECTED, SUSPENDED] }
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
      responses:
        default: { $ref: '#/components/responses/DefaultError' }
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/AdminAgency' }
                  meta: { $ref: '#/components/schemas/PaginationMeta' }

  /v1/admin/agencies/{reference}:
    get:
      tags: [Admin]
      summary: Dossier d'une agence
      description: Documents, coordonnées de reversement et conditions commerciales.
      parameters:
        - $ref: '#/components/parameters/Reference'
      responses:
        default: { $ref: '#/components/responses/DefaultError' }
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AdminAgencyDetail' }
        '404': { $ref: '#/components/responses/NotFound' }

  /v1/admin/agencies/{reference}/approve:
    post:
      tags: [Admin]
      summary: Valider une agence
      description: |
        L'agence peut alors publier son offre. Journalisé — c'est l'une des
        opérations que §28 impose de tracer.

        La validation **ne vérifie pas les coordonnées de reversement** : ce sont
        deux gestes distincts, et les confondre ferait approuver un compte
        bancaire en approuvant une raison sociale.
      parameters:
        - $ref: '#/components/parameters/Reference'
      responses:
        default: { $ref: '#/components/responses/DefaultError' }
        '200':
          description: Validée
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AdminAgency' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409':
          description: |
            Codes possibles — `AGENCY_NOT_PENDING`.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /v1/admin/agencies/{reference}/reject:
    post:
      tags: [Admin]
      summary: Refuser une agence
      parameters:
        - $ref: '#/components/parameters/Reference'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reason]
              properties:
                reason:
                  type: string
                  maxLength: 500
                  description: |
                    Obligatoire. Un refus sans motif laisse l'agence sans
                    recours et fait revenir le dossier à l'identique.
      responses:
        default: { $ref: '#/components/responses/DefaultError' }
        '200':
          description: Refusée
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AdminAgency' }
        '404': { $ref: '#/components/responses/NotFound' }

  /v1/admin/agencies/{reference}/commercial-terms:
    patch:
      tags: [Admin]
      summary: Modifier les conditions commerciales
      description: |
        **Réservé au super administrateur.** Ce sont des termes négociés, pas un
        réglage en libre-service.

        Les bornes de B4 sont imposées côté serveur. Trois d'entre elles sont
        volontairement fermées : reverser avant le départ est exclu, le passager
        ne peut jamais porter les frais d'agrégateur, et les frais d'annulation
        ne peuvent pas dépasser la moitié du montant payé.

        Modifier ces conditions **ne réécrit aucune réservation existante** :
        elles y sont figées à la création.
      parameters:
        - $ref: '#/components/parameters/Reference'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CommercialTermsInput' }
      responses:
        default: { $ref: '#/components/responses/DefaultError' }
        '200':
          description: Modifiées
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CommercialTerms' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/ValidationError' }

  /v1/admin/agencies/{reference}/ledger-adjustments:
    post:
      tags: [Admin]
      summary: Ajuster le compte courant
      description: |
        Écriture manuelle, **motif obligatoire**, journalisée. C'est ce qui
        permet de rattraper les cas que les premiers mois produiront ; sans
        elle, un compte courant faux ne se corrige que par requête SQL.

        Le montant est **signé** : positif au crédit, négatif au débit. Aucune
        écriture n'est jamais modifiée ni supprimée — une erreur se corrige par
        une écriture inverse.
      parameters:
        - $ref: '#/components/parameters/Reference'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [amount, description]
              properties:
                amount: { type: integer, format: int64 }
                description: { type: string, minLength: 3, maxLength: 255 }
      responses:
        default: { $ref: '#/components/responses/DefaultError' }
        '201':
          description: Écriture passée
          content:
            application/json:
              schema: { $ref: '#/components/schemas/LedgerEntry' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/ValidationError' }

  /v1/admin/payout-accounts/{id}/verify:
    post:
      tags: [Admin]
      summary: Vérifier des coordonnées de reversement
      description: |
        **Le geste qui autorise l'argent à partir.** Une erreur de saisie envoie
        les fonds à un inconnu, sans recours : aucun décaissement n'est possible
        vers un compte non vérifié.

        Vérifier de nouvelles coordonnées **désactive les précédentes** : une
        agence n'a qu'un compte actif, et en laisser deux rendrait le choix
        implicite au moment du versement.
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        default: { $ref: '#/components/responses/DefaultError' }
        '200':
          description: Vérifiées
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PayoutAccount' }
        '404': { $ref: '#/components/responses/NotFound' }

  /v1/admin/city-requests:
    get:
      tags: [Admin]
      summary: Demandes d'ajout de ville
      description: |
        Sans ce circuit, une agence desservant une ville absente du référentiel
        est bloquée sans recours et abandonne.
      parameters:
        - name: status
          in: query
          schema: { type: string, enum: [PENDING, APPROVED, REJECTED] }
      responses:
        default: { $ref: '#/components/responses/DefaultError' }
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/CityRequest' }

  /v1/admin/city-requests/{id}/resolve:
    post:
      tags: [Admin]
      summary: Traiter une demande de ville
      description: |
        Approuver crée la ville dans le référentiel fermé, ou rattache la demande
        à une ville existante quand il s'agissait d'une variante d'orthographe —
        auquel cas un alias est ajouté pour que l'autocomplétion la trouve la
        prochaine fois.
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [decision]
              properties:
                decision: { type: string, enum: [APPROVE, REJECT] }
                city_id:
                  type: [integer, 'null']
                  format: int64
                  description: |
                    Rattache à une ville existante au lieu d'en créer une. Un
                    alias est alors enregistré.
      responses:
        default: { $ref: '#/components/responses/DefaultError' }
        '200':
          description: Traitée
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CityRequest' }
        '404': { $ref: '#/components/responses/NotFound' }

  /v1/admin/stations:
    get:
      tags: [Admin]
      summary: Gares à modérer
      description: |
        Modération **a posteriori** : la gare est publiée sans attendre. Une
        validation préalable bloquerait une agence motivée plusieurs jours, et
        elle renoncerait.
      parameters:
        - name: moderated
          in: query
          schema: { type: boolean, default: false }
      responses:
        default: { $ref: '#/components/responses/DefaultError' }
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/AgencyStation' }

  /v1/admin/stations/{id}/moderate:
    post:
      tags: [Admin]
      summary: Modérer une gare
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [decision]
              properties:
                decision: { type: string, enum: [KEEP, DEACTIVATE] }
                reason: { type: [string, 'null'], maxLength: 255 }
      responses:
        default: { $ref: '#/components/responses/DefaultError' }
        '200':
          description: Modérée
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AgencyStation' }
        '404': { $ref: '#/components/responses/NotFound' }

  /v1/admin/audit-logs:
    get:
      tags: [Admin]
      summary: Journal d'audit
      description: |
        **Réservé au super administrateur** (I4). Qui a créé ce trajet, modifié
        ce prix, annulé cette réservation, remboursé, approuvé ce reversement,
        changé ces coordonnées.

        Les entrées sont **immuables** : aucune écriture ni suppression n'est
        exposée, ici ou ailleurs.
      parameters:
        - name: action
          in: query
          schema: { type: string }
        - name: auditable_type
          in: query
          schema: { type: string }
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
      responses:
        default: { $ref: '#/components/responses/DefaultError' }
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/AuditEntry' }
                  meta: { $ref: '#/components/schemas/PaginationMeta' }

  /v1/admin/payouts:
    get:
      tags: [Admin]
      summary: Reversements, toutes agences
      parameters:
        - name: status
          in: query
          schema: { $ref: '#/components/schemas/PayoutStatus' }
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
      responses:
        default: { $ref: '#/components/responses/DefaultError' }
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/Payout' }
                  meta: { $ref: '#/components/schemas/PaginationMeta' }

  /v1/admin/payouts/build:
    post:
      tags: [Admin]
      summary: Calculer les reversements dus
      description: |
        **Le calcul est automatique, le déclenchement est manuel.** Cette
        opération ne verse rien : elle prépare des propositions à valider.

        Un job quotidien l'exécute aussi ; elle est exposée pour qu'un
        administrateur puisse la relancer sans attendre le lendemain.

        Aucun reversement n'est produit sous le seuil minimum de l'agence, ni
        sur un solde négatif — celui-ci se reporte, la dette suit l'agence.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                agency_id:
                  type: [integer, 'null']
                  format: int64
                  description: Restreint le calcul à une agence.
      responses:
        default: { $ref: '#/components/responses/DefaultError' }
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [created, skipped]
                properties:
                  created:
                    type: array
                    items: { $ref: '#/components/schemas/Payout' }
                  skipped:
                    type: array
                    description: |
                      Agences écartées et pourquoi. Une omission silencieuse se
                      lit comme « rien à verser », ce qui n'est pas la même
                      chose que « sous le seuil » ou « un versement est en vol ».
                    items:
                      type: object
                      required: [agency_id, reason]
                      properties:
                        agency_id: { type: integer, format: int64 }
                        reason:
                          type: string
                          enum:
                            [
                              NOTHING_ELIGIBLE,
                              BELOW_MINIMUM,
                              NEGATIVE_BALANCE,
                              PAYOUT_IN_FLIGHT,
                              NO_VERIFIED_ACCOUNT,
                            ]
                        balance: { $ref: '#/components/schemas/Money' }

  /v1/admin/payouts/{reference}/approve:
    post:
      tags: [Admin]
      summary: Approuver un reversement
      description: |
        Les premiers mois produiront des cas non anticipés — remboursement
        arrivé en retard, réservation contestée, coordonnées erronées. **Un
        décaissement Mobile Money du mauvais montant est quasi irréversible** :
        la validation humaine reste le garde-fou tant que le volume ne la rend
        pas impraticable.
      parameters:
        - $ref: '#/components/parameters/Reference'
      responses:
        default: { $ref: '#/components/responses/DefaultError' }
        '200':
          description: Approuvé
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Payout' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409':
          description: |
            Codes possibles — `PAYOUT_NOT_APPROVABLE`.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /v1/admin/payouts/{reference}/send:
    post:
      tags: [Admin]
      summary: Envoyer le décaissement
      description: |
        Le débit au compte courant est écrit **à l'envoi**, pas à la
        confirmation : sans cela, un second reversement construit pendant que
        celui-ci est en vol paierait deux fois. Un échec le contre-passe.

        Le décaissement est refusé vers un compte non vérifié — une erreur de
        saisie envoie l'argent à un inconnu, sans recours.
      parameters:
        - $ref: '#/components/parameters/Reference'
        - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        default: { $ref: '#/components/responses/DefaultError' }
        '200':
          description: Décaissement envoyé
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Payout' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409':
          description: |
            Codes possibles — `PAYOUT_NOT_SENDABLE`, `PAYOUT_ACCOUNT_UNVERIFIED`.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /v1/webhooks/payouts/{provider}:
    post:
      tags: [Webhooks]
      summary: Notification de décaissement
      description: |
        Endpoint distinct de celui des paiements, parce que le port l'est :
        rien n'oblige le décaisseur à être l'agrégateur d'encaissement.

        **C'est cette notification qui fait sortir un reversement de
        `PROCESSING`.** Un reversement en vol interdisant d'en construire un
        second, sans état terminal l'agence ne serait plus jamais payée.

        Un échec **contre-passe** le débit écrit à l'envoi : sans cela l'agence
        apparaîtrait payée alors qu'elle ne l'est pas.

        Répond toujours `204`, même sur une charge illisible : les prestataires
        réémettent sur erreur, et un `500` déclencherait une tempête de rejeux.
      security: []
      parameters:
        - name: provider
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object, additionalProperties: true }
      responses:
        default: { $ref: '#/components/responses/DefaultError' }
        '204': { description: Reçu }

  /v1/webhooks/payments/{provider}:
    post:
      tags: [Webhooks]
      summary: Notification de l'agrégateur
      description: |
        Appelé par le prestataire de paiement. Le traitement est
        **idempotent** : le couple `(provider, event_id)` est unique, un
        rejeu ne produit aucun doublon.

        Chaque appel est journalisé — reçu, rejoué, échoué — ce qui rend un
        paiement perdu débogable.

        Cas particulier : si le succès arrive **après** l'expiration du hold
        et que la place a été revendue, un remboursement intégral est
        déclenché automatiquement avec le motif `LATE_PAYMENT`.
      security: []
      parameters:
        - name: provider
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        default: { $ref: '#/components/responses/DefaultError' }
        '204': { description: Reçu }
        '401': { description: Signature invalide }

  # ────────────────────────────── Tickets ──────────────────────────────

  /v1/tickets:
    get:
      tags: [Tickets]
      summary: Billets du passager
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
      responses:
        default: { $ref: '#/components/responses/DefaultError' }
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/Ticket' }
                  meta: { $ref: '#/components/schemas/PaginationMeta' }

  /v1/tickets/{reference}:
    get:
      tags: [Tickets]
      summary: Détail d'un billet
      description: |
        La réponse porte `qr_payload`, à partir duquel le client **regénère
        le QR Code localement**. Il n'est jamais téléchargé comme image : un
        billet dont le QR ne s'affiche pas en gare ne vaut rien.

        Le billet est mis en cache par le client et reste consultable sans
        réseau.
      parameters:
        - $ref: '#/components/parameters/Reference'
      responses:
        default: { $ref: '#/components/responses/DefaultError' }
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Ticket' }
        '404': { $ref: '#/components/responses/NotFound' }

  # ────────────────────────────── Boarding ──────────────────────────────

  /v1/agency/trips:
    get:
      tags: [Boarding]
      summary: Départs de l'agence
      description: Portée au rôle `AGENT` ou `AGENCY`, limitée à l'agence de l'utilisateur.
      parameters:
        - name: from
          in: query
          schema: { type: string, format: date-time }
        - name: to
          in: query
          schema: { type: string, format: date-time }
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
      responses:
        default: { $ref: '#/components/responses/DefaultError' }
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/TripSummary' }
                  meta: { $ref: '#/components/schemas/PaginationMeta' }

  /v1/agency/trips/{reference}/boarding-list:
    get:
      tags: [Boarding]
      summary: Liste d'embarquement
      description: |
        Téléchargée **avant le départ** et conservée localement par la PWA.
        Les scans sont ensuite vérifiés hors ligne contre cette liste.

        `generated_at` permet à l'agent de savoir si sa copie est fraîche.

        La fermeture des ventes en ligne 30 minutes avant le départ et le
        délai limite d'annulation passager font qu'aucun passager ne peut
        annuler entre le téléchargement et l'embarquement : le risque de
        liste périmée se limite aux actions de l'agence.
      parameters:
        - $ref: '#/components/parameters/Reference'
      responses:
        default: { $ref: '#/components/responses/DefaultError' }
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/BoardingList' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /v1/agency/trips/{reference}/validations:
    post:
      tags: [Boarding]
      summary: Synchroniser les validations
      description: |
        Envoi groupé des validations mises en file hors ligne, avec un
        **résultat par élément**.

        Ce n'est délibérément pas du tout-ou-rien : un doublon ne doit pas
        faire échouer les quarante autres validations du même car. La
        réponse renvoie donc `200` même lorsque certains éléments sont
        rejetés, et chaque résultat porte son propre statut.

        `client_id` est un identifiant local à l'appareil : il permet au
        client de corréler les résultats et de purger sa file.

        **La double validation hors ligne est un coût accepté.** Deux agents
        disposant de la liste peuvent valider le même billet ; le serveur la
        signale plutôt que de la bloquer, les deux agents relevant de la
        même agence.
      parameters:
        - $ref: '#/components/parameters/Reference'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [validations]
              properties:
                device_id: { type: string, maxLength: 100 }
                validations:
                  type: array
                  minItems: 1
                  maxItems: 200
                  items:
                    type: object
                    required: [client_id, ticket_reference, validated_at, method]
                    properties:
                      client_id:
                        type: string
                        description: Identifiant local, corrélation et purge de la file
                      ticket_reference: { type: string }
                      validated_at:
                        type: string
                        format: date-time
                        description: Horodatage de l'appareil, l'agent pouvant être hors ligne
                      method: { $ref: '#/components/schemas/ValidationMethod' }
      responses:
        default: { $ref: '#/components/responses/DefaultError' }
        '200':
          description: Synchronisation traitée, résultat par élément
          content:
            application/json:
              schema:
                type: object
                required: [results]
                properties:
                  results:
                    type: array
                    items: { $ref: '#/components/schemas/ValidationResult' }
              examples:
                mixed:
                  summary: Un doublon parmi des validations acceptées
                  value:
                    results:
                      - client_id: 'q-1'
                        ticket_reference: MTB-7F3K2A
                        status: ACCEPTED
                      - client_id: 'q-2'
                        ticket_reference: MTB-9B1X4C
                        status: DUPLICATE
                        code: TICKET_ALREADY_VALIDATED
                        first_validated_at: '2026-08-14T07:12:31Z'
                      - client_id: 'q-3'
                        ticket_reference: MTB-2K8M5D
                        status: REJECTED
                        code: TICKET_WRONG_TRIP

  /v1/agency/tickets/lookup:
    post:
      tags: [Boarding]
      summary: Vérifier un billet en ligne
      description: |
        Secours utilisé lorsque l'agent dispose du réseau — saisie manuelle
        d'une référence, ou levée de doute sur un cas affiché par la PWA.

        Les cinq issues sont distinctes : un simple « invalide » est
        inexploitable pour l'agent, qui doit savoir **pourquoi**.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reference, trip_reference]
              properties:
                reference:
                  type: string
                  description: Référence du billet ou de la réservation
                trip_reference: { type: string }
      responses:
        default: { $ref: '#/components/responses/DefaultError' }
        '200':
          description: Billet valide
          content:
            application/json:
              schema: { $ref: '#/components/schemas/BoardingPassenger' }
        '409':
          description: |
            Codes possibles — `TICKET_ALREADY_VALIDATED`, `TICKET_WRONG_TRIP`,
            `TICKET_CANCELLED`.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '404':
          description: Référence inconnue — code `TICKET_NOT_FOUND`
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  # ──────────────────── Back-office agence — inventaire ────────────────────
  #
  # Sans ces endpoints, la recherche ne renvoie rien et le produit n'existe
  # pas : c'est le chantier qui devait avancer en parallèle du parcours
  # passager, pas après.
  #
  # Toute écriture est portée par l'agence de l'utilisateur. Une ressource
  # appartenant à une autre agence répond `404` et non `403` : dire « interdit »
  # confirmerait son existence et permettrait d'énumérer le parc d'un
  # concurrent.

  /v1/agency/stations:
    get:
      tags: [Agency]
      summary: Gares de l'agence
      responses:
        default: { $ref: '#/components/responses/DefaultError' }
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/AgencyStation' }

    post:
      tags: [Agency]
      summary: Créer une gare
      description: |
        La gare **appartient à l'agence** et est publiée immédiatement : la
        modération est a posteriori, car bloquer une agence motivée pendant
        plusieurs jours la ferait renoncer.

        La ville, elle, vient du **référentiel fermé** curé par MOTOBOY : si
        chaque agence pouvait créer la sienne, « Douala », « douala » et « Dla »
        coexisteraient et la recherche cesserait de regrouper les offres.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AgencyStationInput' }
      responses:
        default: { $ref: '#/components/responses/DefaultError' }
        '201':
          description: Gare créée
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AgencyStation' }
        '422': { $ref: '#/components/responses/ValidationError' }

  /v1/agency/stations/{id}:
    patch:
      tags: [Agency]
      summary: Modifier une gare
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string, maxLength: 150 }
                address: { type: [string, 'null'] }
                latitude: { type: [number, 'null'] }
                longitude: { type: [number, 'null'] }
                is_active: { type: boolean }
      responses:
        default: { $ref: '#/components/responses/DefaultError' }
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AgencyStation' }
        '404': { $ref: '#/components/responses/NotFound' }

  /v1/agency/city-requests:
    post:
      tags: [Agency]
      summary: Demander l'ajout d'une ville
      description: |
        Sans ce circuit, une agence desservant une ville absente du référentiel
        est bloquée sans recours et abandonne.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [country_id, requested_name]
              properties:
                country_id: { type: integer, format: int64 }
                requested_name: { type: string, maxLength: 120 }
      responses:
        default: { $ref: '#/components/responses/DefaultError' }
        '201':
          description: Demande enregistrée
          content:
            application/json:
              schema:
                type: object
                required: [id, requested_name, status]
                properties:
                  id: { type: integer, format: int64 }
                  requested_name: { type: string }
                  status:
                    type: string
                    enum: [PENDING, APPROVED, REJECTED]

  /v1/agency/vehicles:
    get:
      tags: [Agency]
      summary: Véhicules de l'agence
      responses:
        default: { $ref: '#/components/responses/DefaultError' }
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/AgencyVehicle' }

    post:
      tags: [Agency]
      summary: Enregistrer un véhicule
      description: |
        En mode `SEATED`, le **plan de sièges est généré** à partir de la
        capacité : demander à une agence de créer trente sièges un par un
        garantirait qu'elle ne le fasse pas, et sans plan le passager ne peut
        pas choisir sa place.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AgencyVehicleInput' }
      responses:
        default: { $ref: '#/components/responses/DefaultError' }
        '201':
          description: Véhicule enregistré
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AgencyVehicle' }
        '422': { $ref: '#/components/responses/ValidationError' }

  /v1/agency/vehicles/{id}/seats:
    get:
      tags: [Agency]
      summary: Plan de sièges d'un véhicule
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        default: { $ref: '#/components/responses/DefaultError' }
        '200':
          description: Vide en mode CAPACITY
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/AgencySeat' }
        '404': { $ref: '#/components/responses/NotFound' }

  /v1/agency/drivers:
    get:
      tags: [Agency]
      summary: Chauffeurs de l'agence
      responses:
        default: { $ref: '#/components/responses/DefaultError' }
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/AgencyDriver' }

    post:
      tags: [Agency]
      summary: Enregistrer un chauffeur
      description: |
        Le chauffeur reste un acteur métier **sans application dédiée**. Il peut
        en revanche porter le rôle `AGENT` pour l'embarquement : le rôle est
        fonctionnel, pas lié à un métier.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AgencyDriverInput' }
      responses:
        default: { $ref: '#/components/responses/DefaultError' }
        '201':
          description: Chauffeur enregistré
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AgencyDriver' }
        '422': { $ref: '#/components/responses/ValidationError' }

  /v1/agency/routes:
    get:
      tags: [Agency]
      summary: Itinéraires de l'agence
      responses:
        default: { $ref: '#/components/responses/DefaultError' }
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/AgencyRoute' }

    post:
      tags: [Agency]
      summary: Créer un itinéraire
      description: |
        Un itinéraire n'est **jamais daté** — un départ l'est toujours. Les
        gares de départ et d'arrivée doivent appartenir à l'agence.

        Les escales sont **purement informatives** : la réservation est
        point-à-point, et une ville d'escale ne rend pas un départ éligible à
        une recherche qui la viserait.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AgencyRouteInput' }
      responses:
        default: { $ref: '#/components/responses/DefaultError' }
        '201':
          description: Itinéraire créé
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AgencyRoute' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/ValidationError' }

  /v1/agency/routes/{routeId}/schedules:
    post:
      tags: [Agency]
      summary: Créer un horaire récurrent
      description: |
        Sans horaires récurrents, une agence ressaisit ses départs chaque matin
        et abandonne au bout d'une semaine — l'application afficherait alors des
        données mortes, ce qui tue un comparateur plus sûrement qu'une absence
        d'offre.

        Modifier un horaire **n'affecte pas les départs déjà générés** : le
        changement s'applique aux départs créés ensuite.
      parameters:
        - name: routeId
          in: path
          required: true
          schema: { type: integer, format: int64 }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AgencyScheduleInput' }
      responses:
        default: { $ref: '#/components/responses/DefaultError' }
        '201':
          description: Horaire créé
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AgencySchedule' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/ValidationError' }

  /v1/agency/trips/generate:
    post:
      tags: [Agency]
      summary: Générer les départs manquants
      description: |
        Génère sur l'horizon glissant, **sans jamais modifier un départ
        existant** : une régénération qui les écraserait réécrirait des départs
        portant déjà des réservations.

        Exposé pour que l'agence voie immédiatement l'effet d'un horaire qu'elle
        vient de créer ; un job quotidien fait avancer la fenêtre.
      responses:
        default: { $ref: '#/components/responses/DefaultError' }
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [created, horizon_days]
                properties:
                  created: { type: integer }
                  horizon_days: { type: integer }

  /v1/agencies/register:
    post:
      tags: [Agencies]
      summary: Inscrire une agence
      description: |
        Crée l'agence en `PENDING` et le compte de son dirigeant, puis envoie un
        code de vérification comme pour un passager.

        **L'agence ne publie rien tant qu'elle n'est pas validée.** Elle doit
        d'abord fournir ses documents, et l'administration saisir et **vérifier**
        ses coordonnées de reversement — une erreur de saisie enverrait l'argent
        à un inconnu, sans recours.
      security: []
      responses:
        default: { $ref: '#/components/responses/DefaultError' }
        '201':
          description: Inscription enregistrée, code envoyé
          content:
            application/json:
              schema: { $ref: '#/components/schemas/OtpChallenge' }
        '422': { $ref: '#/components/responses/ValidationError' }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                [name, phone, manager_first_name, manager_last_name, manager_phone]
              properties:
                name: { type: string, maxLength: 150 }
                legal_name: { type: [string, 'null'], maxLength: 200 }
                phone: { type: string, maxLength: 20 }
                email: { type: [string, 'null'], format: email }
                manager_first_name: { type: string, maxLength: 100 }
                manager_last_name: { type: string, maxLength: 100 }
                manager_phone:
                  type: string
                  maxLength: 20
                  description: Reçoit le code de vérification.
                locale: { $ref: '#/components/schemas/Locale' }

  /v1/agency/payout-accounts:
    get:
      tags: [Agency]
      summary: Ses coordonnées de reversement
      responses:
        default: { $ref: '#/components/responses/DefaultError' }
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/PayoutAccount' }
    post:
      tags: [Agency]
      summary: Déclarer ou changer ses coordonnées
      description: |
        **Le changement n'est jamais appliqué en libre-service.** Les nouvelles
        coordonnées naissent non vérifiées et n'encaissent rien tant qu'un
        administrateur ne les a pas vérifiées ; les précédentes restent actives
        jusque-là.

        Compromission du compte agence, modification du numéro, attente du jour
        de paie : c'est un vecteur de fraude classique, et c'est pourquoi
        l'opération est journalisée et notifiée aux contacts connus de l'agence.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PayoutAccountInput' }
      responses:
        default: { $ref: '#/components/responses/DefaultError' }
        '201':
          description: Coordonnées enregistrées, en attente de vérification
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PayoutAccount' }
        '422': { $ref: '#/components/responses/ValidationError' }

  /v1/agency/staff:
    get:
      tags: [Agency]
      summary: Le personnel de l'agence
      responses:
        default: { $ref: '#/components/responses/DefaultError' }
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/AgencyStaffMember' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    post:
      tags: [Agency]
      summary: Rattache quelqu'un au personnel
      description: |
        **Le compte se cree au numero.** Si la personne a deja un compte passager,
        le role s'y ajoute : c'est la meme personne, et lui imposer une seconde
        identite sur le meme telephone n'aurait pas de sens. Elle se connecte par
        OTP comme partout ailleurs — aucun mot de passe n'est distribue.

        Le nom d'un compte existant **n'est pas ecrase** : il appartient a la
        personne, pas a l'agence qui l'embauche.

        Deux profils attribuables, et jamais `AGENCY` : on ne delegue pas ici le
        droit de deleguer.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [phone, first_name, last_name, role]
              properties:
                phone: { type: string, maxLength: 20 }
                first_name: { type: string, maxLength: 100 }
                last_name: { type: string, maxLength: 100 }
                role: { type: string, enum: [AGENT, COUNTER] }
      responses:
        default: { $ref: '#/components/responses/DefaultError' }
        '201':
          description: Rattache
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AgencyStaffMember' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /v1/agency/staff/{user}:
    delete:
      tags: [Agency]
      summary: Retire quelqu'un du personnel
      description: |
        **Le role est revoque, le compte survit.** Ses ventes et ses validations
        restent a son nom — un historique qui perd son auteur ne se verifie plus —
        et la personne garde son compte passager, qui ne regarde pas l'agence.
      parameters:
        - name: user
          in: path
          required: true
[...]
